@import "./../variables";
@import "./../mixins";

$color-bg: $color-II;
$color-bg--active: $color-I;
$color-bg--hit: $color-J;
$color-bg--handle: $color-bg;

$size-wheel: 8rem;
$size-handle: $size-wheel / 3;

.wheel__handle {
  position: absolute;
  bottom: calc(100% - 1px);
  left: 50%;
  width: $size-handle;
  height: $size-handle;
  background: $color-bg--handle;
  cursor: grab;
  transform: translateX(-50%) ;
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  user-select: none;
  transition: background 0.3s ease-in-out;
}

.wheel__body {
  height: $size-wheel;
  width: $size-wheel;
  user-select: none;
}

.wheel__face {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  //clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background: $color-bg;
  background-attachment: fixed;
  transition:
    background 0.3s ease-in-out,
    clip-path 0.3s ease-in-out;
}

.wheel__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-I;
}

.wheel__wrapper {
  position: relative;
  display: inline-block;
  padding: 2rem;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  filter: drop-shadow(0 3px 3px rgba(black, 0.2));

  &--hovering {
    .wheel__handle {}
  }

  &--dragging {
    transform: scale(1.1);
    .wheel__face,
    .wheel__handle {
      background: $color-bg--active;
    }
  }

  &--hit {
    .wheel__face,
    .wheel__handle {
      background: $color-bg--hit;
    }
  }
}